/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2{
    font-size:20px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {

  .top-wrapper {
    padding-top: 150px;
    width: 100%;
    margin:0 auto;
    height:150px;

  }

  .top-wrapper h1 {
    font-size: 20px;
    letter-spacing: 5px;
    margin:-47px 0 0 14px;
    opacity: 0.7;
    letter-spacing: 2px;
  }

  .top-wrapper h2 {
    font-size: 12px;
    margin:-1px 0 0 14px;
    opacity: 0.7;
    letter-spacing: 0px;
  }

  .logo {
    width: 100px;
    margin-top: 10px;
    margin-left:15px;
  }

  .login{
    font-size:8px;
    margin:7px 0;
  }

.sacchan-wrapper {
  padding-bottom: 40px;
  height:850px;
  width:100%;
}

.heading {
  padding:35px 0;
  padding-left:30px;
}

.heading h2{
  font-size: 20px;
}

.lessons h5{
 font-size:7px;
 margin-bottom:-20px;
}

.lessons h2{
 font-size:20px;
}

.text-contents{
 font-size:10px;
 margin-top:-15px;
}

.a{
  width:100px;
}

.lesson1{
  margin:0;
  float:none;
}

.lesson2{
  margin:0;
  float:none;
}

.message{
  height:700px;
  margin:10px 0;
}

.gods h2{
  font-size:10px;
}

.gods p{
  font-size:8px;
  margin-top:-10px;
}

.gods-s{
  margin:7px 50px;
}

.gods-p{
  float:right;
  margin:7px 50px;
}

.gods-t{
  float:left;
  margin:7px 50px;
}

.b{
  width:85px;
}

.info h2{
  font-size:13px;
  margin:5px 0 -2px 0;
}

.botan{
  font-size:12px;
    margin-bottom:10px;
}

.twitter{
  margin-bottom:0px;
}

}
